#message-box 
  {
    width: 500px;
    background-color: #8d8989;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
  
  #message-box p {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: 600px;
  }
  #message-box h1 {
    font-size: 64px;
    margin-bottom: 16px;
    font-weight: 600px;

  }
  
  #start-game-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .containergame {
    display: flex;
  }
  #close-game-button {
      background-color: rgb(0, 0, 0);
      border: none;
      color: white;
      padding: 10px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  #start-game-button:hover {
    background-color: #3e8e41;
  } 
  #close-game-button:hover{
    background-color: rgb(71, 61, 61);
  }