
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Brush Script", cursive ;
    font-weight: 400;
    font-style: normal; 
} 
body
{
    display: flex;
    justify-content: center;    
    align-items: center;
    min-height: 100vh;
    background: #334244;
    background-image: url(pics/wallpaper.jpg);
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(9px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.score {
    display: flex;
    align-items:center ;
}
.container
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    flex-direction: column;
    gap: 20px;
    background: #0f2b2f;
    padding: 10px 40px ;
    display: none;
    animation-name: animate;
    animation-duration: .5s;
      
}
@keyframes animate {
    from {
        translate:  -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
        translate:   0px;
    }
    
}
h2
{
    font-size: 4em ;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
       
    
}
#score{
    color: gold;
    font-size: 2em;
}
.score-text{
    color: #f3d8c7;
    font-weight: 100;
    font-size: 30px;
    font-family:"Nanum Brush Script", cursive  ;
}


.reset
{
    padding: 15px 15px ;
    color: #454847;
    background: #fff;
    border: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase ;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;

}
.reset:focus
{
    color: #fff;
    background: #77B0AA;
    
}
.reset:hover{
    background: #f3d8c7;
    
    
}

.game
{
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item
{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transition: 0.25s;
    transform: rotateY(180deg);
    border-radius: 7%;
    font-family:'Ubuntu',sans-serif ;
    cursor: pointer;
}
.item.boxOpen
{
    transform: rotateY(0deg);
}
.item::after
{
    content: '';
    position: absolute;
    inset: 0;
    background: #527370;
    background-image: url(pics/6168878.png);
    background-size: cover;
    transition: 0.25s;
    transform: rotateY(0deg);
    border-radius: 7%;
    backface-visibility: hidden;
}
.boxOpen:after , .boxMatch:after
{
    transform: rotateY(180deg );
}
